#name-app {
    font-size: 3rem;
    color: #0000ff;
}

#near-you, #destination, #spot-claimed, .text-spot-claimed {
    color: #0000ff;
}

#results-title, #spot-claimed-title {
    color: #0000ff;
    font-size: 1.5rem;
}

.spot-available {
    color: #0000ff;
    font-size: 1.3rem;
}

#near-you:hover, #destination:hover, #spot-claimed:hover {
    font-weight: bold;
}

#logo {
    height: 75px;
}

#btn-search {
    color: black;
    font-size: 2rem;
}

#login-btn, #register-btn {
    background-color: #0000ff; 
    color: white;
}

#enter-spot {
    width: 20%;
    background-color: #0000ff; 
}

.claim-btn {
    width: 20%;
}

/* media queries to hide the name on small screens and just display the logo */
@media screen and (max-width: 450px) {
    #menu-button, #results-title {
        font-size: 1rem; 
    }

    #name-app {
        font-size: 2rem;
    } 

    #logo {
        height: 60px;
    }

    #btn-occupied, #btn-free, #btn-recently {
        font-size: 1rem;
    }
}
